
<!DOCTYPE html>
<head>
            {% load static %}
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.5">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
</style>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#section1">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">My projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">Resume</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#section4">About me</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#section5">Contact</a>
      </li>

            <li class="nav-item" style="position: relative;left: 70px">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
    </ul>
  </div>
</nav>


<div id="section1" class="container-fluid1" style="padding:200px 90px;text-align: justify;">
<div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(154, 7, 18);"></div>

    <div class="container">

            <div class="col-12 col-md-8">

                <h2 class="mbr-fonts-style mb-3 mbr-section-subtitle display-7"><strong>Arkadiusz Nowosielski</strong></h2>

                <h1 class="mbr-fonts-style mb-3 mbr-section-title display-1"><strong>I’m Web<br>Designer</strong></h1>

                <div class="row">
			<div class="customers">
                <div class="numeric"><strong><a style="font-size: 30px">0 </a></strong></div>
                <div class="projects"><a style="font-size:12px;">COMPLETED <br> PROJECTS</a></div>
            </div>

			<div class="customers2">
                <div class="numeric"><strong><a style="font-size: 30px">0 </a></strong></div>
                <div class="projects"><a style="font-size:12px;">SATISFIED <br> CUSTOMERS</a></div>
            </div>

                </div>
            <a class="cos" style="color: black" href="#section3">Watch resume</a>


            </div>
    </div>

</div>






<div id="section2" class="container-fluid2 bg-white" style="padding:130px 90px;text-align: justify;">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-1 col-sm-3 offset-3"><img src="../../media/design3.png" alt="Cinque Terre"></div>

                <div class="col-1 col-md-6">



                    <div class="main-heading">
                        <h3 class="title mbr-section-title mbr-fonts-style display-5"><strong>I'm using <a style="color: darkred">top leading design</a><br> methods in my work</strong></h3>
                    </div>

                    <p class="design">
                        <strong>Web-design<br></strong>
                    </p>

                    <div class="progress">
                      <div class="progress-bar bg-danger" style="width:210px">70%<br></div>
                    </div>

                    <p class="design2">
                        <strong>Branding<br></strong>
                    </p>

                    <div class="progress">
                      <div class="progress-bar bg-danger" style="width:270px">90%<br></div>

                    </div>

                    <p class="design3">
                        <strong>Photography<br></strong>
                    </p>

                    <div class="progress">
                        <div class="progress-bar bg-danger" style="width:255px">85%<br></div>
                    </div>

            </div>
        </div>
    </div>
</div>



<div id="section3" class="container-fluid3 bg-black text-white" style="padding:100px 20px;">
    <div class="container">

        <div class="row justify-content-left">
            <div class="col-12">
                <h1 class="mbr-section-title mbr-fonts-style display-2"><strong>Experiance, studies and courses</strong></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 row inline">
                <div class="col-12 col-sm-3">
                    <p class="date mbr-fonts-style display-5"><strong>2019-Present</strong></p>
                </div>
                <div class="col-12 col-sm-3">
                    <p class="workplace mbr-fonts-style display-7"><strong>Power engineering,<br>Colegium Witelona</strong></p>
                </div>
                <div class="col-12 col-sm-6">
                    <p class="description mbr-fonts-style display-7">In this school, I took a basic python course for the first time, which encouraged me to continue my studies in this field. I'm in the process of writing an engineering thesis on nuclear energy.</p>
                </div>
            </div>
        </div>


        <hr style="height: 3px; color: red; background-color: white;">
        <div class="row">
            <div class="col-12 row inline">
                <div class="col-12 col-sm-3">
                    <p class="date mbr-fonts-style display-5"><strong>2021-2022</strong></p>
                </div>
                <div class="col-12 col-sm-3">
                    <p class="workplace mbr-fonts-style display-7">
                        <strong>Forklift operator,<br>Amazon Fulfillment</strong>
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <p class="description mbr-fonts-style display-7">
                    This is my last job before I decided to change the industry. I don't regret it because this is where I earned for my first bootcamp!
                    </p>
                </div>
            </div>
        </div>



        <hr style="height: 3px; color: red; background-color: white;">

        <div class="row">
            <div class="col-12 row inline">
                <div class="col-12 col-sm-3">
                    <p class="date mbr-fonts-style display-5"><strong>2022-2022</strong></p>
                </div>
                <div class="col-12 col-sm-3">
                    <p class="workplace mbr-fonts-style display-7"><strong>Bootcamp Python XL<br>backend/web
                        <br>ALX</strong></p>
                </div>
                <div class="col-12 col-sm-6">
                    <p class="description mbr-fonts-style display-7">
                        During this course I learned the basics of programming, got to know django, MySQL and deepened my knowledge of GIT. It was a backend course, so I learn the frontend by myself.</p>
                </div>
            </div>
        </div>
        <a href="https://www.files.fm/f/4s5sy5hwz/">
        <button type="button" class="btn btn-danger">Download Resume</button></a>
        <a></a>
    </div>
</div>
<div id="section4" class="container-fluid4 bg-warning" style="padding:200px 90px;text-align: justify-all;">

<div class="img-circle">
    <img src="../../media/profilowe2.jpg" class="rounded-circle" alt="Cinque Terre">
    <div class="title mbr-section-title mbr-fonts-style display-6" style="text-justify: auto">Arkadiusz Nowosielski<br><strong>Programmer/Web designer</strong></div>
        <p class="description mbr-fonts-style display-7" style="font-family: Arial, Helvetica, sans-serif;">
            Developing my skills and gaining the necessary experiance are my priority.<br> I pay attention to the readability and optimization of the code.<br> When programming, I feel like a fish in the water.<br>
        </p>
        <a href="https://github.com/Hypytysz/" class="lock">
            <img src="../../media/git.png" class="icon-unlock" alt="HTML tutorial" style="width:42px;height:42px;">
            <img src="../../media/git2.png" class="icon-lock" alt="HTML tutorial" style="width:42px;height:42px;">
        </a>
        <a href="https://www.linkedin.com/in/arkadiusz-nowosielski-310842242/" class="lock">
            <img src="../../media/in.png" class="icon-unlock" alt="HTML tutorial" style="width:49px;height:49px;">
            <img src="../../media/in2.png" class="icon-lock" alt="HTML tutorial" style="width:49px;height:49px;">
        </a>
            <a href="https://www.facebook.com/arkadiusz.nowosielski.56/" class="lock">
            <img src="../../media/facebook.png" class="icon-unlock" alt="HTML tutorial" style="width:42px;height:42px;">
            <img src="../../media/facebook2.png" class="icon-lock" alt="HTML tutorial" style="width:42px;height:42px;">
        </a>
    </div>
</div>
<div id="section5" class="container-fluid4 bg-black text-white" style="padding:200px 90px;text-align: justify-all;">
    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-3 offset-lg-1">
                <div class="col-lg-12 col-md-12 col-sm-12 left-side">
                        <br> <br>
                        <h3 class="mbr-section-title mbr-fonts-style display-7"><strong>Contact</strong></h3>
                        <p class="mbr-fonts-style description display-7"><br></p>
                    <a onclick="AnimationEvent" class="lock">
                        <img src="../../media/email.png" onclick="CopyText()" class="icon-unlock" alt="HTML tutorial" style="width:49px;height:49px;">
                        <img src="../../media/email2.png" onclick="CopyText()" class="icon-lock" alt="HTML tutorial" style="width:49px;height:49px;">
                        <input style="text-align:center; width: 220px" type="text" value="arek1nowosielski@gmail.com" id="yourtext">
                    </a>
                    <br><br>
                    <a onclick="AnimationEvent" class="lock">
                        <img src="../../media/phone2.png" onclick="CopyText2()" class="icon-lock" alt="HTML tutorial" style="width:49px;height:49px;">
                        <img src="../../media/phone.png" onclick="CopyText2()" class="icon-unlock" alt="HTML tutorial" style="width:49px;height:49px;">
                        <input style="text-align:center; width: 220px" type="text" value="+48 503 932 006" id="yourtext2">
                    </a>
{% block scripts %}
<script>
  function CopyText() {
  var text = document.getElementById('yourtext')
  text.select();
  document.execCommand('copy')
}
  function CopyText2() {
  var text = document.getElementById('yourtext2')
  text.select();
  document.execCommand('copy')
}
</script>
{% endblock scripts %}
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12" data-form-type="formoid">

                    {% if name %}
                    <h2>Thanks {{name}}</h2>
                <p>We received your email!</p>
                    {% endif %}
                <br><br>
                    <form action="#" method="post">
                            {% csrf_token %}
                    <div class="dragArea form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-heading">
                            <h2 class="title mbr-section-title display-7"><strong>I am always looking for great collaborators. Message me and let's make <a class="text" style="color: crimson">something together!</a></strong></h2>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" data-for="name">
                            <label for="name-contact2-8" class="form-control-label mbr-fonts-style display-7">Your name (required)</label>
                            <input type="text" name="name" placeholder="Name" data-form-field="name" required="required" class="form-control display-7" value="" id="name-contact2-8">
                        </div>
                        <div data-for="email" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="email-contact2-8" class="form-control-label mbr-fonts-style display-7">Your email (required)</label>
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control display-7" required="required" value="" id="email-contact2-8">
                        </div>
                        <div data-for="phone" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="phone-contact2-8" class="form-control-label mbr-fonts-style display-7">Phone Number</label>
                            <input type="tel" name="phone" placeholder="Phone" data-form-field="phone" class="form-control display-7" value="" id="phone-contact2-8">
                        </div>
                        <div data-for="number" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="number-contact2-8" class="form-control-label mbr-fonts-style display-7">Choose a Budget (PLN)</label>
                            <input type="text" name="budget" placeholder="Your Budget" data-form-field="number" class="form-control display-7" value="" id="number-contact2-8">
                        </div>
                        <div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group" style="">
                            <label for="message-contact2-8" class="form-control-label mbr-fonts-style display-7">Your message</label>
                            <textarea name="message" placeholder="Message" data-form-field="message" class="form-control display-7" id="message-contact2-8"></textarea>
                        </div>
                        <div class="col-auto" style="">
                            <button type="submit" class="btn btn-danger">Contact Me</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
